@import url(./../../css/global.css);

.header__nav__list a {
  color: var(--main-color-dark-blue);
}

header .nav__list__portfolio a {
  color: var(--main-color-cyan);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--main-color-cyan);
}

.about__section {
  margin-bottom: 150px;

  display: flex;
  justify-content: space-between;
  max-height: 500px;
}
.about__section img {
  height: 500px;
}

.about__description {
  height: 500px;
  width: 430px;
}

.about__description__line {
  border: 1px solid var(--main-color-dark-blue);
  opacity: 0.15;
}

.about__description__line.one {
  margin: 0 0 102px;
}

.about__description__line.two {
  margin: 102px 0 0;
}

.about__description__title {
  margin-bottom: 28px;

  color: var(--main-color-dark-blue);

  font: var(--font-h2);
  letter-spacing: var(--letter-spacing-h2);
}

.about__section p {
  padding-bottom: 54px;

  font-family: 'Public Sans';
  font-size: 16px;
  line-height: 30px;
}

.about__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p .description__fylo {
  padding: 0 0 -24px;
}

.about__description__line.two.fylo {
  margin: 72px 0 0;
}
